* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#hero-title {
    display: flex;
    justify-content: right;
    color: #13795b;
}

.section-title {
    color: #13795b;;
}

/* .about-me-image {

}

.about-me-text {

} */

.flex-conatiner {
    display: flex;
    flex-direction: column;

}
/* 
.flex-conatiner:hover {

} */
