* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* hero section styling */
#hero-image {
    background-image: url('/assets/images/hero-image.png') ;
    background-position: center;
}

#hero-title {
    display: flex;
    justify-content: right;
    color: #084432;
}

/* all section titles styling */
.section-title {
    width: 40%;
    color: #084432;
}

/* about me text styling */
.about-me-text {
    display: flex;
    flex-direction: column;
    color: black;
    width: 60%;
    
}
/* end of about me text styling */

/* work cards styling */
.flex-container {
    display: flex;
    justify-content: right;
    flex-direction: column;
    background-color: #13795b;
    color: #ffffff;
    width: 50%;

}

.flex-container-2 {
    display: flex;
    flex-direction: column;
    background-color: #13795b;
    color: #ffffff;
    width: 25%;

}

.flex-container:hover, .flex-container-2:hover {
    box-shadow: 0px 5px 10px 0px #0000008a;
} 

.flex-container a, .flex-container-2 a {
    color: black;
}
/* end of work cards styling */

/* contact me link styling */
.flex-container-3 {
    display: flex;
    flex-direction: column;
    width: 25%;

}

.flex-container-3 a {
    padding: 10px 20px;
    color: #13795b;

}
/* end of contact me link styling */
